<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIVERSITIES WIKI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/js/change_theme.js" defer></script>
    
</head>
<body>

<!-- ========================= HEADER ================ -->

    <header class="header">
            <div class="color_theme_block">
                <input type="checkbox" class="color_theme_checkbox" name="color_theme" id="color_theme" onchange="change_theme()">
                <label for="color_theme" id="label_for_color_theme">
                    <img class="theme_icon" id="theme_icon" src="/static/img/icons/light_theme.png" alt="">
                </label>
            </div>
        <div class="container">
            <nav class="nav navbar">
                <div class="logo">
                    <a class="navbar-brand" href="#">
                        <img class="logo-img" src="/static/img/logo/logo4.png" alt="">
                    </a>
                </div>
                <div class="links">
                    <a href="/universities" class="nav-link">Вузы</a>
                    <a href="#" class="nav-link">Example2</a>
                </div>
                <div class="account">
                    <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                    <a class="btn btn-success" href="/login">Войти</a>
                </div>
            </nav>
        </div>
    </header>

<!-- ========================= MAIN ================ -->

    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>

<!-- ========================= FOOTER ================ -->
    <footer class="footer">
        <div class="container">
            <div class="footer_content">
                created by Vegetable Developers
            </div>
        </div>
    </footer>
    
</body>
</html>