{% extends "base.html" %}
{% block content %}
    <style>
        @import url(/static/styles/index/index_page.css);
    </style>
    <div class="index_content">
        <h1 class="page_title">UNIVERSITIES wiki</h1>
        <h3 class="under_title">Выбирай с умом!</h3>
        <div class="search_block">
            <input class="search_text_input" type="text" name="search_input" id="search_input">
            <input class="search_btn_input" type="button" value="ПОИСК">
        </div>
    </div>
{% endblock %}