{% extends "base.html" %}
{% block content %}
    <style>
        @import url(/static/styles/index/index_page.css);
    </style>
    <div class="index_content">
        <h1 class="page_title">UNIVERSITIES wiki</h1>
        <h3 class="under_title">Выбирай с умом!</h3>
        <div class="search_block">
            <input class="search_text_input"  value="{{input_value}}" type="text" name="search_input" id="search_input">
            <button class="search_btn_input" type="button" onclick="getInputValue();">ПОИСК</button>
        </div>
        <div>
            <br>
            <script src="/static/js/search_university.js" defer></script>

            <select name="cities_menu" id="cities_menu" class="cities_menu">
                <option class="cities_menu-item" disabled selected>Выберите город</option>
                <option class="cities_menu-item" value="perm">Пермь</option>
                <option class="cities_menu-item" value="moscow">Москва</option>
                <option class="cities_menu-item" value="vladistovok">Владивосток</option>
                <option class="cities_menu-item" value="ekaterinburg">Екатеринбург</option>
                <option class="cities_menu-item" value="sant-petersburg">Санкт-Петербург</option>
            </select>

            <script src="/static/js/redirect_downlist.js" defer></script>
        </div>
    </div>
{% endblock %}