{% extends "base.html" %}
{% block content %}
    <style>
        @import url(/static/styles/list_universities/list_universities.css);
    </style>
    <div class="universities_content">
        <h1 class="page_title">UNIVERSITIES wiki</h1>
        <div class="search_block">
            <input class="search_text_input" type="text" name="search_input" id="search_input">
            <input class="search_btn_input" type="button" value="ПОИСК">
            <select name="cities_menu" id="cities_menu" class="cities_menu">
                <option class="cities_menu-item" value="perm">Пермь</option>
                <option class="cities_menu-item" value="moscow">Москва</option>
                <option class="cities_menu-item" value="vladistovok">Владивосток</option>
                <option class="cities_menu-item" value="ekaterinburg">Екатеринбург</option>
                <option class="cities_menu-item" value="sant-petersburg">Санкт-Петербург</option>
            </select>
            
        </div>
        <div class="content">
            {%for value in universities.values()%}
                <div class="university_item">
                    <a href="/university/{{value['id']}}">
                        <img src="https://www.newsko.ru/media/3185656/nochnaya-zhizn-pgniu.jpg" alt="" class="university_photo">
                        <div class="text_content">
                            <div class="title">{{value['title']}}</div>
                            <div class="info"> </div>
                        </div>
                    </a>
                </div>
            {%endfor%}
            
            
        </div>
    </div>
{% endblock %}