{% extends "base.html" %}
{% block content %}
    <style>
        @import url(/static/styles/university_page/university_page.css);
    </style>
    <div class="content">
        <div class="university_header">
            <h1 class="page_title"> {{ title }}  </h1>
            <div class="map">
                {{ address }}
            </div>
        </div>
        <div>
        {% if current_user.is_authenticated %}
            <br>
            <div>
                {% if liked['value'] %}
                    <a class="navbar-brand" style="color: #58807f" href={{ liked['link'] }}>Добавлено в избранное</a>
                {% else %}
                    <a class="navbar-brand" style="color: #58807f" href={{ liked['link'] }}>Добавить в избранное</a>
                {% endif %}
            </div>
        {% endif %}
        </div>
        <div class="faculties">
            {% for elem in faculties %}
            <div class="faculties_item">
                <div class="faculties_item-content">
                    <div class="name"><span>{{ elem['title'] }}</span></div>
                    <div class="points">Баллы</div>
                    <div class="price">Цена</div>
                    <div class="subjects">Предметы</div>
                </div>
                <div class="faculties_item-content">
                    <div class="discription"><span>{{ elem['description'] }}</span></div>
                    <div class="points">от <span class="value"> {{ elem['points'] }} </span></div>
                    <div class="price">от <span class="value"> {{ elem['price'] }} </span></div>
                    <div class="subjects">
                        <span class="subject">{{ elem['subjects'][0] }}</span>
                        <span class="subject">{{ elem['subjects'][1] }}</span>
                        <span class="subject">{{ elem['subjects'][2] }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}