@import url(root.css);

body {
    font-family: 'Nunito', sans-serif;
}

/* ------------- HEADER ------------- */

.header {
    background-color: var(--active_header_color);
}
.logo {
    width: 35%;
}
.authentication {
    width: 35%;
    text-align: right;
}
.logo-img {
    width: 100px;
    height: 100px;
}
.links {
    display: flex;
    justify-content: space-between;

    
}
.nav-link {
    font-size: 20px;
    color: var(--active_link_color);
    opacity: .75;
    transition: opacity .1s;
}

.nav-link:hover {
    color: var(--active_link_color);
    opacity: 1;
}

.color_theme_block {
    max-width: max-content;
    float: right;
    padding: 40px;
}

.color_theme_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.color_theme_checkbox+label {
    cursor: pointer;
}

/* ------------- MAIN ------------- */

main {
    min-height: 80vh;
}

/* ------------- FOOTER ------------- */

.footer {
    background-color: var(--active_header_color);
    padding: 40px 0;
}

.footer_content {
    text-align: center;
    font-size: 20px;
    color: var(--active_text_color);
}